.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #87CEFA;
    font-family: sans-serif;
    color: #FFF;
}

.notice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: #0c131f1e;
    padding: 3vh;
    border-radius: 5px;
    gap:3vh;
}

.noticeTitle{
    background-color: #FFF;
    color: #0C131F;
    padding: 1vh;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px #c6c6c6;
}
.noticeItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vh;
}

.button{
    background-color: #0C131F;
    padding: 1vh;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.classe-debutant{
    background-color: #Feb900;
    padding: 1vh;
    font-size: x-small;
}

.classe-intermediaire{
    background-color: #fe5d00;
    padding: 1vh;
    font-size: x-small;

}

.classe-experimente{
    background-color: #fe1100;
    padding: 1vh;
    font-size: x-small;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:2vh;
}


.title{
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;

}

.texte{
    font-size: 2.5em;
    margin: 0;   
}


.courseFeatures{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 5vh;
    gap:2vw;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vh;
    margin: 2vh;
    color: #FFF;
    background-color: #0c131f2c;
    padding: 1vh;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #c6c6c6d0;
    height: 30vh;
}

.card:hover{
    background-color: #87CEFA;
    color: #FFF;

}

.titleCard{
    text-transform: uppercase;
}

.imgCard{
    width: 8vw;
    border-radius: 5px;
}