<app-menu/>
<div class="hero">
    <div class="tagline">
        <h1 class="title">Apprenez le prompt engineering</h1>
        <p class="texte">Découvrez la puissance de l'Intelligence Artificielle en maîtrisant le prompt engineering.<br>
            Créez des automotisations, des applications ou des textes pour booster votre productivité.
        </p>
        <div class="button"> Commencez !</div>
    </div>
    <div class="illu"><img class="logo" alt="Intelligence Artificielle" src="./assets/ai_3.png"> </div>
</div>
<div class="features">
    <h1 class="title2">Comprendre l'Intelligence Artificielle</h1>
    <p class="texte2">Nos modules disponibles</p>
    <div class="card">
    <app-card *ngFor="let TabInfo of TabInfo" [TabInfo]="TabInfo"/>
    </div>
</div>

<div class="ads">
    <div class="texteAds">
    <h1 class="titleAds">La meilleure plateforme sur l'Intelligence Artificielle</h1>
    <p class="PaAds">À l'ère de l'innovation technologique, il est essentiel de faire le bon choix en matière d'Intelligence Artificielle (IA). 
        Notre plateforme se démarque comme le choix incontesté pour ceux qui recherchent l'excellence dans le domaine de l'IA. 
        Nous sommes fiers de présenter une solution complète et puissante, conçue pour répondre à tous vos besoins en matière d'apprentissage des usages I.A.
    </p>
    <div class="button2">En savoir plus</div>
    </div>
    <img class="imgAds" alt="image" src="../../../assets/img_1.jpg">
</div>
<div class="forms">
    <h1 class="titleForms">Contactez-nous</h1>
    <form class="formsInput">
        <label for="lname">Nom</label>
        <input type="text" id="lname">
        <label for="fname">Prénom</label>
        <input type="text" id="fname">
        <label for="mail">E-mail</label>
        <input type="text" id="mail">
    </form>
</div>
<app-footer/>
